a{
	text-decoration: none;
	color: #ccc;
}

a:hover{
	text-decoration: bolder;
}

p{
	font-family: 'Roboto Slab',serif;
	color: #535d5e;
	font-size: 16px;
	line-height: 200%;
}


.contact-info
{
	color: #69CFE8;
	text-decoration: bolder;
}

h1
{
	text-align: center;
	text-decoration: bold;
}